body{ 
    font-family: 'Abril Fatface', cursive;
font-family: 'Playfair Display', serif;}
h1{ fony-size: 50 px;}
.orang-color {
    color:orange}
section { display:flex;}
.half-width{
     width: 50%;
     padding-left: 10%;
    }
.half-width img{ width: 50%;}
.link-button{
    text-decoration: none;
    background-color:tomato
    }
.link-button{ padding: 5px 30px;
             border-radius: 5px ;}